.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 4vw;
	height: 1vw;
	border-radius: 1vw;
	border: 0.4vh solid #BA1C21;
	background: #222;
	margin-top: calc(3.3vh / 2);
	outline: none;
	position: relative;
	top: -1vh;
	transition: background 0.2s ease, border-color 0.2s ease, box-shadow 0.1s ease;
}

.slider::-webkit-slider-thumb:hover {
	/*background: #FD67AE;*/
	border-color: #C71E23;
	box-shadow: -3px -3px 6px #BA1C21, 3px -3px 6px #BA1C21, 3px 3px 6px #BA1C21, -3px 3px 6px #BA1C21;
}

.slider::-webkit-slider-thumb:hover:active {
	background: #C71E23;
}

.slider {
	-webkit-appearance: none;
	width: 90%;
	margin-left: 5%;
	outline: none;
	height: 0.4vh;
	border-radius: 2.5vh;
	background: linear-gradient(to right, #BA1C21 0%, #BA1C21 100%);
}

#sidenav-left {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

#sidenav-right {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.settings-button {
	width: 90%;
	outline: none;
	margin-left: 5%;
	border-radius: 1.5vh;
	background: #2ca4cc;
	background-size: 25vw;
	color: #e4ecef;
	text-align: center;
	font-family: inherit;
	font-size: 1vw;
	border: none;
	margin-bottom: 1vh;
	height: calc(5vh + 1em);
	transition: background 0.2s;
}

.settings-button .red:hover {
	background: #ff9ccb;
	background-size: 25vw;

}

.settings-button .blue:hover {
	background: #45b0de;
	background-size: 25vw;
}

#simulation-top-bar {
    position: fixed;
    background-color: #111;
    width: 100vw;
    z-index: 100;
}